html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #141c2c;
    overflow: hidden;
}

#phaser-container, canvas {
    width: 100vw !important;
    height: 100vh !important;
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
