* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ZMIANA: Zapewniamy, że strona zajmuje cały ekran bez przewijania */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0c0c1c; /* Tło jest teraz na body */
}

/* ZMIANA: Canvas jest naszym głównym kontenerem */
#gameCanvas {
    background-color: #000;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px);
    background-size: 550px 550px, 350px 350px; 
    background-position: 0 0, 40px 60px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}